// 🎨 Primary Color Tokens
$color-primary-100: rgba(217, 241, 230, 1);
$color-primary-200: rgba(180, 227, 205, 1);
$color-primary-300: rgba(142, 212, 181, 1);
$color-primary-400: rgba(105, 198, 156, 1);
$color-primary-500: rgba(67, 184, 131, 1);
$color-primary-600: rgba(54, 147, 105, 1);
$color-primary-700: rgba(40, 110, 79, 1);
$color-primary-800: rgba(27, 74, 52, 1);
$color-primary-900: rgba(13, 37, 26, 1);